body {
    margin: 0;
    background: #0d0d0d;
    color: white;
    font-family: Arial;
}

header {
    background: black;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid red;
}

header a {
    color: red;
    margin-left: 20px;
}

.search {
    text-align: center;
    margin: 20px;
}

input, textarea, select {
    width: 90%;
    padding: 10px;
    margin: 5px;
    background: #111;
    color: white;
    border: 1px solid red;
}

button {
    width: 90%;
    padding: 12px;
    background: red;
    border: none;
    cursor: pointer;
}

.scp-card {
    margin: 10px auto;
    width: 90%;
    background: #111;
    padding: 15px;
    border-left: 5px solid red;
}

.zone-high { border-left-color: crimson; }
.zone-low { border-left-color: orange; }